{{ define "main" }}
    <article class="post intro">
        <div class="content">
        {{ with .Title }}<p class="lead">{{ . }}</p>{{ end }}
        {{ .Content }}
        </div>
    </article>

    {{/*  some recent posts  */}}
    <div class="recent-posts">
        <h4>Recent updates</h4>
        <div class="recent-posts-cont">
            {{ range $index, $page := first 4 .Site.RegularPages }}
            <div class="list-post-intro list-post-{{ add $index 1 }}">
                {{ .Render "preview-content" }}
            </div>
            {{ end }}
        </div>
    </div>
{{ end }}
