---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="flex flex-col gap-4 max-w-4xl">
    <p class="leading">
      Kia ora, I'm Tom! Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Odio fugiat et provident! Eius quisquam itaque qui magnam ullam similique
      et quo veniam ut, adipisci numquam rerum consectetur, quibusdam, quasi
      fugiat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque illo
      eveniet ea facilis rerum vitae natus pariatur ab iste voluptas dolor
      voluptatem quo repudiandae, aperiam qui cum dolorum modi aliquid.
    </p>
    <p>
      Repellat, non sint nostrum exercitationem perferendis qui sapiente
      dignissimos. Nemo, perspiciatis. Nihil libero nemo maxime fugit unde
      temporibus amet! Ipsa facere dicta dolor voluptas repudiandae quidem,
      reprehenderit commodi dignissimos. Nisi.
    </p>
    <p>
      Libero repellat atque nisi nobis deserunt quos tempore perspiciatis
      distinctio eligendi. Quos corrupti impedit ab culpa molestias quo amet
      illum enim consectetur, aliquam porro cumque, sint, provident incidunt
      cupiditate officiis.
    </p>
  </div>
</MainLayout>
