---
import MainLayout from "../layouts/MainLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const outputs = (await Astro.glob("./outputs/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<MainLayout>
  <h2 class="text-lg font-bold">Research outputs</h2>
  <section class="flex flex-col gap-2">
    {
      outputs.map((output) => (
        <a href={output.url} class="border-b py-2 group last:border-none">
          <div class="flex-1">
            <time
              datetime={output.frontmatter.pubDate}
              class="text-xs italic text-slate-400"
            >
              {new Date(output.frontmatter.pubDate).toLocaleDateString(
                "en-us",
                {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                }
              )}
            </time>
            <h4 class="group-hover:text-slate-600">
              {output.frontmatter.title}
            </h4>
          </div>
          <p class="text-sm">{output.frontmatter.description}</p>
        </a>
      ))
    }
  </section>
</MainLayout>
