// Timeline settings
$date-width: 140px;
$timeline-padding: 20px;
$timeline-linewidth: 4px;
$timeline-fontsize: 0.8rem;
$timeline-dot: 4px;
$link-color: transparentize(nth($color-palette, 3), 0.4);

ul.timeline {

  /* a list with dots and lines etc */

  border-left: {
    style: solid;
    width: $timeline-linewidth;
    color: $link-color;
  }
  position: relative;
  list-style: none;
  margin: 2em auto 2em;
  padding-left: $timeline-padding;
  padding-bottom: 5em;


  li {
    position: relative;
    font-size: $timeline-fontsize;
    margin-top: 2em;
    padding-top: 1.5em;

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: 0;
      content: attr(data-date);
      min-width: $date-width;
      text-align: left;
      font-size: 0.8em;
      line-height: 1.5*$timeline-fontsize;
    }

    &:after {
      box-shadow: 0 0 0 $timeline-dot $link-color;
      left: ($timeline-padding + $timeline-linewidth) * -1;
      background: white;
      border-radius: 50%;
      height: $timeline-dot;
      width: $timeline-dot;
      content: "";
      top: 10px;
    }

    .tags {
      font-size: 0.8em;
      margin-top: -1.2rem;

    }

  }

  @media (min-width: 800px) {
    margin: 2em auto 2em $date-width;
    padding-left: $timeline-padding;

    li {
      padding-top: 0;

      &:before {
        left: ($date-width + 2*$timeline-padding + $timeline-linewidth) * -1;
        text-align: right;
      }
    }
  }

}
