@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap');

$body-font: 'Montserrat', sans-serif;
$heading-font: 'Quicksand', sans-serif;

html, body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

pre {
  code {
    position: relative;
    label {
      position: absolute;
      right: 4px;
      top: 4px;
      font-size: 0.8em;
      background: #282c34;
      text-transform: capitalize;
    }
  }
}
