$color-palette: #1a1a1d, #f4eded, #6699cc, #70b77e, #b57f50;

@mixin boxshadow {
  box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.5);
}

body {
  background: nth($color-palette, 1);
  color: nth($color-palette, 2);

  a, a:visited, a:hover {
    color: nth($color-palette, 4);
  }
  a:hover {
    opacity: 0.9;
    text-decoration: none;
  }
}
