---
import { Img } from "astro-imagetools/components";

const titles = ["Data scientist", "Statistical software developer"];
---

<div
  class="max-w-4xl text-blue-50 w-full flex flex-col lg:flex-row items-center justify-center px-4 gap-24 my-24 group"
>
  <div
    class="h-64 w-64 rounded relative border-2 border-purple-200 overflow-hidden bg-gray-500"
  >
    <Img
      src="/tomelliott.jpg"
      alt=""
      width="256"
      height="256"
      position="left"
      attributes={{
        img: {
          class:
            "rounded grayscale group-hover:grayscale-0 group-hover:scale-110 transition-all duration-[2s]",
        },
      }}
    />
  </div>
  <div class="flex-1 flex flex-col items-center lg:items-start">
    <h1 class="text-4xl text-purple-300">
      <strong>Kia ora</strong> &mdash; I'm Tom
    </h1>
    <h2
      class="flex flex-col sm:flex-row sm:gap-2 text-xl font-extralight items-center my-2 sm:my-0"
    >
      {
        titles.map((title, i) => (
          <div>
            <div class="hidden sm:inline">{i > 0 && "|"}</div> {title}
          </div>
        ))
      }
    </h2>

    <p class="mt-8 text-center lg:text-left">
      I enjoy building statistical tools and applications that help others make
      the most of their data. I work primarily with R and Javascript, but dabble
      in many other tools, languages, and technologies. As part of my <a
        class="text-purple-200 hover:underline"
        href="https://www.royalsociety.org.nz/what-we-do/funds-and-opportunities/puanga/recipients/"
        >Ngā Puanga Pūtaiao fellowship</a
      > I will be building new software that allows data scientists to build state-of-the-art
      data-driven web applications.
    </p>
  </div>
</div>
