.post {
  background: #ffffff;
  margin: 1.5em auto;
  padding: 1em;
  max-width: 55em;
  box-shadow: 0px 3px 10px 0px #33333330;
}

.list-info {
  margin: 2em auto;
  padding: 1em;
  border-bottom: solid 1px $separator-color;
}
