$navbar-width: 400px;
$hover: 0.2s ease-in-out;
$hover-slow: 0.35s ease-in-out;

$background-color: #f5f5f5;
$separator-color: rgba(161,161,161,.3);

$text-color: #3b4351;
$link-color: #5755d9;
$link-visited-color: #807fe2;
