---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="flex">
  <h2 class="text-lg font-bold">{SITE_TITLE}</h2>
  <!-- <h2>
    <a href="/">
      {SITE_TITLE}
    </a>
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </nav> -->
</header>
