{{ define "main" }}

    {{ .Render "list-header" }}

    <ul id="talk-list" class="timeline">
        {{ range .Pages.ByPublishDate.Reverse }}
        <li
            data-date="{{ .Date.Format "2 January, 2006" }}"
            >
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ with .Description }}<p>{{ . }}</p>{{ end }}
            <div class="tags">
                {{ range .Params.tags }}
                <a href="{{ printf "tags/%s/" . | absURL }}"><span class="chip">{{ . }}</span></a>
                {{ end }}
            </div>
        </li>
        {{ end }}
    </ul>

{{ end }}
