<section id="site-intro">
    {{ with .Site.Params.logo }}
    <a href="{{ "/" | relLangURL }}">
        <img src="{{ .url | absURL }}"
            class="circle"
            {{/*  width="{{ .width | default "100" }}"  */}}
            alt="{{ .alt }}"></a>
    {{ end }}

    <header>
        {{ with .Site.Title }}<h1>{{ . | safeHTML }}</h1>{{ end }}
    </header>

    <main>
        {{ with .Site.Params.Description }}<p class="blurb">{{ . | safeHTML }}</p>{{ end }}
    </main>

    <footer>
        <ul class="social-icons">
            {{ range .Site.Menus.main }}
            <a class="nav-link" href="{{ .URL }}">
                {{ if .Pre }}
                {{ $icon := printf "<i class=\"fi-xnluxl-%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}</a>
            {{ end }}
        </ul>
    </footer>
</section>
