---
import Navigation from "../components/Navigation.astro";
import Particles from "../components/BgParticles.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tom Elliott{title && ` | ${title}`}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="">
    <div
      class="fixed inset-0 -z-10 bg-gradient-to-tr from-gray-950 to-purple-950"
    >
    </div>
    <div class="min-h-screen flex flex-col justify-center">
      <!-- <Navigation /> -->
      <main
        class="flex-1 p-4 flex flex-col items-center justify-center gap-12 lg:gap-36 -mb-[150px]"
      >
        <slot />
      </main>
      <Particles />
    </div>
  </body>
</html>
